/* IMPORTS */
/* MISCELANEOUS */
@import url("https://fonts.googleapis.com/css2?family=Laila:wght@300&display=swap");
/* Normalize */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Globals */
html {
  font-size: 62.5%; }

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  color: #6d8b85;
  background-color: #f6d4d2;
  font-family: "Laila", sans-serif; }

ol,
ul {
  padding-left: 0rem; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: inherit;
  display: inline-block; }

/* Helpers */
.flex-row {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding-left: 10vh; }

.box {
  height: 25%;
  width: 25%; }

/* PARTIALS */
header {
  background-color: #f6d4d2; }
  header .navbar {
    min-height: 10vh;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 2rem; }
  header .logo {
    flex-basis: 30%; }
  header .menu {
    flex-basis: 40%;
    justify-content: space-between; }
    header .menu__item {
      border: 2px solid #f6d4d2;
      transition: border-color .3s ease-in-out; }
      header .menu__item:hover {
        border-color: #6d8b85; }
      header .menu__item .menu__link {
        font-size: 1.8em;
        padding: 1rem; }

.menu .menu__item:hover .sub-menu {
  display: block; }

.sub-menu {
  display: none;
  position: absolute; }

.sub-menu .sub-menu__item .sub-menu__link {
  padding: 1rem;
  font-size: 1.4em;
  transition: all .3s ease-in-out; }

.sub-menu .sub-menu__item .sub-menu__link:hover {
  background-color: #6d8b85;
  color: #f6d4d2; }

img {
  width: 100%;
  min-width: 320px; }

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 10vh;
  color: #6d8b85;
  font-size: 1.8em; }
  footer .btn--twitter {
    background-color: #55acee; }
  footer .btn--facebook {
    background-color: #dff2fd; }
  footer .btn--instagram {
    background-color: #6d8b; }

/* VIEWS */
.noticias {
  gap: 2rem;
  align-items: flex-start;
  padding: 0 2rem; }
  .noticias__picture {
    flex-basis: 50%;
    min-width: 320px; }
  .noticias__img {
    flex-basis: 50%;
    min-width: 320px; }

.emprende, .contenidos {
  flex-basis: 50%; }
  .emprende__img {
    width: 25%;
    height: 25%; }
  .emprende__h1 {
    font-size: 2em; }
  .emprende__p {
    font-size: 2em; }

/*nosotros*/
.nosotros {
  text-align: center;
  gap: 2rem;
  font-size: 2em; }

.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "img img img" "img img img";
  gap: 15px; }
  .galeria__img {
    grid-area: img; }

/*contenidos*/
.contenidos {
  background-color: aqua;
  text-decoration-color: black;
  text-align: center; }

.contenidos__img {
  width: 50%;
  height: 25%; }

/*contacto*/
.contacto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "contacto sorbete sorbete"; }
  .contacto__article {
    grid-area: contacto;
    align-self: center; }
  .contacto__form {
    display: inline-grid;
    row-gap: 0.5em; }

.sorbete__img {
  grid-area: sorbete; }

/*MEDIA QUERY*/
/*media queries*/
@media screen and (max-width: 768px) {
  .menu {
    display: flex;
    flex-direction: row; }
  .logo__link {
    text-align: center; }
  .imagenLogo {
    width: 25%; }
  header {
    padding: 2em; }
  header .navbar {
    justify-content: center;
    flex-direction: column;
    font-size: 1.5em; }
  .noticias {
    flex-wrap: wrap; }
  .noticias__picture {
    flex-grow: 1; }
  .noticias__article {
    flex-grow: 1;
    order: -1;
    align-items: center; }
  .menu {
    font-size: .8em; }
  .galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "img img" "img img" "img img"; }
  .galeria__img {
    grid-area: img; }
  footer {
    width: 80%; } }

@media screen and (max-width: 600px) {
  .menu {
    display: flex;
    flex-direction: column; }
  header {
    padding: 2em; }
  header .navbar {
    justify-content: center;
    flex-direction: column; }
  .noticias {
    flex-wrap: wrap;
    width: 520px; }
  .noticias__picture {
    flex-grow: 1; }
  .noticias__article {
    flex-grow: 1;
    order: -1;
    align-items: center; }
  .menu {
    font-size: .8em; }
  footer {
    width: 100%; } }

@media screen and (max-width: 480px) {
  .menu {
    display: flex;
    flex-direction: column; }
  .contacto {
    display: flex; }
  input {
    border-right-style: inset; }
  .logo__link {
    text-align: center; }
  .imagenLogo {
    width: 25%; }
  header {
    padding: 2em; }
  header .navbar {
    justify-content: center;
    flex-direction: column; }
  .noticias {
    flex-wrap: wrap;
    justify-content: center; }
  .noticias__picture {
    flex-grow: 1;
    max-width: 340px; }
  .noticias__article {
    flex-grow: 1;
    order: -1;
    align-items: center; }
  .menu {
    font-size: .8em; }
  .galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "img img" "img img" "img img"; }
  footer {
    width: 100%; } }

@media screen and (max-width: 320px) {
  .menu {
    display: flex;
    flex-direction: column; }
  .sorbete {
    padding-top: 1em; }
  .contacto {
    display: flex;
    padding-left: 0%; }
  .nosotros {
    display: flex; }
  .logo__link {
    text-align: center; }
  .imagenLogo {
    width: 25%; }
  header {
    padding: 2em; }
  header .navbar {
    justify-content: center;
    flex-direction: column; }
  .noticias {
    flex-wrap: wrap;
    justify-content: center; }
  .noticias__picture {
    flex-grow: 1;
    max-width: 340px; }
  .noticias__article {
    flex-grow: 1;
    order: -1;
    align-items: center; }
  .menu {
    font-size: .8em; }
  .galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "img" "img" "img" "img" "img" "img"; }
  .flex-row {
    display: grid;
    flex-direction: column; }
  .carousel.pointer-event {
    display: table-row-group; }
  footer {
    width: 100%; } }
