footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 10vh;
    color: $secondary;
    font-size: $text-md;
    background-color: $principal;
    min-width: 100%;
    background-image: linear-gradient(to bottom, #ffffff, #f9f5fb, #f6eaf4, #f6dfeb, #f6d4dd);

//     $redes: (
//         twitter: #55acee,
//         facebook:  #dff2fd,
//         instagram: #6d8b
// ); 


//     @each $red, $color in $redes {
//         .btn--#{$red} {
//             background-color: $color;
//         }
//     }

    
    
}