/*contacto*/


.contacto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
        "contacto sorbete sorbete";


    &__article {
    grid-area: contacto;
    align-self: center;
    }

    &__form {
        display: inline-grid;
        row-gap: 0.5em;
    }
}

.sorbete__img {

    grid-area: sorbete;
}

