.noticias {
    gap: 2rem;
    align-items: flex-start;
    padding: 0 2rem;

    &__picture {
    flex-basis: 50%;
    min-width: 320px;
    }

    &__img {
    flex-basis: 50%;
    min-width: 320px;
    }
}


.emprende {
    flex-basis: 50%;


    &__img {
    width: 25%;
    height: 25%;
    }

    &__h1 {
    font-size: $text-lg;
    }

    &__p {
    font-size: $text-lg;
    }
}