.noticias {
    gap: 2rem;
    align-items: flex-start;
    padding: 0 2rem;
    

    &__picture {
    flex-basis: 50%;
    min-width: 320px;
    }

    &__img {
    flex-basis: 50%;
    min-width: 320px;
    }
}
.noticias {
    gap: 2rem;
    align-items: flex-start;
    padding: 0 2rem;
    background-image: linear-gradient(to bottom, #ffffff, #faf7fc, #f8eff7, #f8e7ef, #f8dee4, #f8dee4, #f8dee4, #f8dee4, #f8e7ef, #f8eff7, #faf7fc, #ffffff);
    min-width: 100%;
    justify-content: space-around;
}

.emprende {
    flex-basis: 50%;


    &__img {
    width: 25%;
    height: 25%;
    }

    .emprende__h1 {
        font-size: 2em;
        text-align: center;
    }

    &__p {
    font-size: $text-lg;
    }
}

.card {
    &-body{
        width: 100%;
    }

    

    &-text {
        font-size: 2rem;
    }


}
.card-tittle{
    font-size: 4rem;
}
