/*media queries*/

@media screen and (max-width: 768px) {




    .menu {
        display: flex;
        flex-direction: row;
    }


    .logo__link {
        text-align: center;
    }

    .imagenLogo {
        width: 25%;

    }

    header {
        padding: 2em;
    }

    header .navbar {
        justify-content: center;
        flex-direction: column;
        font-size: 1.5em;
    }

    .noticias__picture {
        flex-grow: 1;
    }

    .noticias__article {
        flex-grow: 1;
        order: -1;
        align-items: center;
    }

    .menu {
        font-size: .8em;
    }

    .galeria {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "img img"
            "img img"
            "img img";

    }

    .galeria__img {
        grid-area: img;
    }

    footer {
        width: 80%;
    }

    body {
        max-width: 100%;
    }

    .accordion {
        font-size: 2rem;
        display: contents;
    }


}

@media screen and (max-width: 600px) {

    .menu {
        display: flex;
        flex-direction: column;
    }

    header {
        padding: 2em;
        min-width: max-content;
    }

    header .navbar {
        justify-content: center;
        flex-direction: column;
    }

    .contacto {
        display: flex;
        padding-left: 0%;
        font-size: 2rem;
        background-color: aliceblue;
    }

    .contacto__h1 {
        font-size: 2rem;
    }

    .btn-primary {
        font-size: 2rem;
    }

    .form-control {
        font-size: 2rem;
    }

    .form-select {
        font-size: 2rem;
    }

    .noticias {
        width: 520px;
    }

    .noticias__picture {
        flex-grow: 1;
    }

    .noticias__article {
        flex-grow: 1;
        order: -1;
        align-items: center;
    }

    .menu {
        font-size: .8em;
    }

    footer {
        width: 100%;
    }

    body {
        max-width: 100%;
    }

    .accordion {
        font-size: 2rem;
        display: contents;
    }

    #carouselExampleSlidesOnly {
        display: contents;
    }

    #carouselExampleIndicators {
        display: inline;
    }


}


@media screen and (max-width: 480px) {

    .menu {
        display: flex;
        flex-direction: column;
    }

    .contacto {
        display: flex;
        padding-left: 0%;
        font-size: 3rem;
        background-color: aliceblue;
    }

    .contacto__h1 {
        font-size: 3rem;
    }

    .btn-primary {
        font-size: 3rem;
    }

    .form-control {
        font-size: 3rem;
    }

    .form-select {
        font-size: 3rem;
    }

    input {
        border-right-style: inset
    }

    .logo__link {
        text-align: center;
    }

    .imagenLogo {
        width: 25%;

    }

    header {
        padding: 2em;
    }

    header .navbar {
        justify-content: center;
        flex-direction: column;
    }

    .noticias {
        flex-wrap: wrap;
        justify-content: center;
    }

    .card-text {
        font-size: 2.5rem;
    }

    .btn-primary {
        font-size: 2.5rem;
    }

    .noticias__picture {
        flex-grow: 1;
        max-width: 340px;
    }

    .noticias__article {
        flex-grow: 1;
        order: -1;
        align-items: center;
    }

    .menu {
        font-size: .8em;
    }

    .galeria {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "img img"
            "img img"
            "img img";
    }

    footer {
        width: 100%;
    }

    body {
        max-width: 100%;
    }

    .accordion {
        font-size: 2rem;
        display: contents;
    }

    .accordion-button {
        font-size: 4rem;
    }

    .accordion-item:first-of-type .accordion-button {
        font-size: 4rem;
    }

    .accordion-body {
        padding: 1rem 1.25rem;
        font-size: 4rem;
    }

    .carousel.pointer-event {
        touch-action: pan-y;
        display: inline;
    }




}


@media screen and (max-width: 320px) {

    .menu {
        display: flex;
        flex-direction: column;
    }

    .sorbete {
        padding-top: 1em;
    }

    .contacto {
        display: flex;
        padding-left: 0%;
        font-size: 4rem;
        background-color: aliceblue;
    }

    .contacto__h1 {
        font-size: 4rem;
    }

    .btn-primary {
        font-size: 4rem;
    }

    .form-control {
        font-size: 4rem;
    }

    .form-select {
        font-size: 4rem;
    }

    .nosotros {
        display: flex;
    }

    .logo__link {
        text-align: center;
    }

    .imagenLogo {
        width: 50%;
    }

    header {
        padding: 2em;
    }

    header .navbar {
        justify-content: center;
        flex-direction: column;
        font-size: 4rem;
    }

    .noticias {
        flex-wrap: wrap;
        justify-content: center;
    }

    .noticias__picture {
        flex-grow: 1;
        max-width: 340px;
    }

    .noticias__article {
        flex-grow: 1;
        order: -1;
        align-items: center;
    }

    .menu {
        font-size: .8em;
    }

    .galeria {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "img"
            "img"
            "img"
            "img"
            "img"
            "img";
    }

    .flex-row {
        display: grid;
        flex-direction: column;
    }

    .carousel.pointer-event {
        display: table-row-group;
    }

    footer {
        width: 100%;

    }

    .card {
        &-body {
            width: 100%;
        }

        &-tittle {
            font-size: 4rem;
        }

        &-text {
            font-size: 4rem;
        }

        min-width: 100%;

        .btn-primary {
            color: #fff;
            background-color: #0d6efd;
            border-color: #0d6efd;
            font-size: xx-large;
        }


    }

    body {
        max-width: 100%;
    }

    .accordion {
        font-size: 4rem;
        display: contents;
    }

    .accordion-button {
        font-size: 4rem;
    }

    .accordion-item:first-of-type .accordion-button {
        font-size: 4rem;
    }

    .accordion-body {
        padding: 1rem 1.25rem;
        font-size: 4rem;
    }

    .redes {
        font-size: xx-large;
    }

    .carousel.pointer-event {
        display: contents;
    }

    .emprende__p {
        font-size: 4rem;
    }

    .emprende .emprende__h1,
    .contenidos .emprende__h1 {
        font-size: 4rem;
        text-align: center;
    }






}