/* Normalize */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Globals */

html {
    font-size: 62.5%;


}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    color: $secondary;
    background-color: $principal;
    font-family: $font-primary;
    background-image: linear-gradient(to bottom, #f6d4dd, #f6dce7, #f6e5f0, #f7edf6, #f9f5fb, #f9f5fb, #f9f5fb, #f9f5fb, #f7edf6, #f6e5f0, #f6dce7, #f6d4dd);
    max-width: 100%;
}

ol,
ul {
    padding-left: 0rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}